// Place all the styles related to the store/drinks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//ここからnewページ
 .link-drink{
   text-align: center;
 }
 
 .drink-new{
   text-align: center;
 }
//ここまでnewページ

//ここからindexページ
  .link-drink{
   text-align: center;
 }
 
 .drink-index{
   text-align: center;
 }
 
 .drink-index-table{
   text-align: center;
 }
//ここまでindexページ

//ここからshowページ
.link-drink{
   text-align: center;
 }
 
.drink-information{
  text-align: center;
}
//ここまでshowページ

//ここからeditページ
.drink-edit{
  text-align: center;
}
//ここまでeditページ