// Place all the styles related to the store/drinks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//ここからnewページ
 .link-drink{
   text-align: center;
 }

 .drink-new{
   text-align: center;
 }
//ここまでnewページ

//ここからindexページ
  .link-drink{
   text-align: center;
 }

 .drink-index{
   text-align: center;

 }

 .drink-index-table{
   text-align: center;
 }

 .drink-category-index{
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: #FF9900;
  border: 5px solid;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bolder;
 }

 .drink-genre-index{
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: #FFCC00;
  border: 5px solid;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bolder;
  margin-top: 10px;
 }

.drink-box{
  width: 200px;
  height: 190px;
  background-color: #DDDDDD;
  border: 2px solid;
  border-radius: 10px;
  margin: 5px 5px 5px 5px;
}
.drink-name{
  width: 200px;
  display: flex;
  justify-content: center;
}

.drink-category{
  width: 200px;
  display: flex;
  justify-content: center;
}

.drink-genre{
  width: 200px;
  display: flex;
  justify-content: center;
}

.drink-price{
  width: 200px;
  display: flex;
  justify-content: center;
}

.drink-cost{
  width: 200px;
  display: flex;
  justify-content: center;
}

.drink-cost-rate{
  width: 200px;
  display: flex;
  justify-content: center;
}
//ここまでindexページ

//ここからshowページ
.link-drink{
   text-align: center;
 }

.drink-information{
  text-align: center;

}


//ここまでshowページ

//ここからeditページ
.drink-edit{
  text-align: center;
}
//ここまでeditページ