// Place all the styles related to the store/drinks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//ここからnewページ
 .link-drink{
   text-align: center;
 }

 .drink-new{
   text-align: center;
 }
//ここまでnewページ

//ここからindexページ
  .link-drink{
   text-align: center;
 }

 .drink-index{
   text-align: center;

 }

 .drink-index-table{
   display: flex;
   justify-content: center;
   text-align: center;
 }

 .drink-category{
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: #FF9900;
  border: 5px solid;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bolder;
 }

 .drink-genre{
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: #FFCC00;
  border: 5px solid;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bolder;
  margin-top: 10px;
 }
//ここまでindexページ

//ここからshowページ
.link-drink{
   text-align: center;
 }

.drink-information{
  text-align: center;

}
//ここまでshowページ

//ここからeditページ
.drink-edit{
  text-align: center;
}
//ここまでeditページ