// Place all the styles related to the store/stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login{
  width: 100px;
  height: 100px;
  background-color: #808080;
  margin: 10px 0px 10px 50px;
}

//ここから共通ページ
.title{
  text-align: center;
}
//ここまで共通ページ

//ここからindexページ

.table-form{
  width: 100%;
  text-align: center;
}

//ここまでindexページ

//ここからnewページ
.store-new-form{
  text-align: center;
}
//ここまでnewページ

//ここからshowページ
.link-store{
  text-align: center;
}

.show-information{
  text-align : center;
}
//ここまでshowページ

//ここからeditページ
//ここまでeditページ