// Place all the styles related to the store/stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login{
  width: 100px;
  height: 100px;
  background-color: #808080;
  margin: 10px 0px 10px 50px;
}

//ここから共通ページ

//ここまで共通ページ

//ここからindexページ
.index-title{
  margin-top: 10px;
}

.table-form{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.drink-information-index{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.name-title{
  width: 100px;
  border: 2px solid;
}

.category-title{
  width: 100px;
  border: 2px solid;
}

.genre-title{
  width: 100px;
  border: 2px solid;
}

.drinks-title{
  width: 100px;
  border: 2px solid;
}

.name{
  width: 100px;
  border: 2px solid;
}

.category{
  width: 100px;
  border: 2px solid;
}

.genre{
  width: 100px;
  border: 2px solid;
}

.drinks{
  width: 100px;
  border: 2px solid;
}
//ここまでindexページ

//ここからnewページ
.store-new-form{
  text-align: center;
}
//ここまでnewページ

//ここからshowページ
.link-store{
  text-align: center;
}

.show-information{
  text-align : center;
}
//ここまでshowページ

//ここからeditページ
.edit-information{
  text-align: center;
}
//ここまでeditページ