<h1>カテゴリー更新</h1>
<div class='col-4 text-center'>
  <%= form_with model: @category, url: store_store_categories_path(@store), local: true do |f| %>
  <%= f.label 'カテゴリー名', class: 'col-sm-8' %>
  <%= f.text_field :name, class: 'col-sm-8', placeholder: "例)仕込みorカルトorFD" %>
  <br><%= f.submit 'カテゴリー名更新', class:'btn btn-primary' %></br>
  <% end %>
</div>