<div class="start">
  <div class="title">
    <p>Dmenu</p>
  </div>
  <div class="start-information">
    <div class="login">
      <span>store用ログイン</span><br>
      <%= link_to '店舗登録', new_store_store_path, class: 'btn btn-primary' %>
      <!--<#%= link_to '店舗ログイン', store_store_stores_login_path, class: 'btn btn-primary' %>-->
    </div>
    <div class="login">
      <span>スタッフ用ログイン遷移</span>
    </div>
    <div class="login">
    
    </div>
  </div>
</div>