<h1>Dmenu</h1>
<div class="login">
  <span>store用ログイン遷移</span>
  <%= link_to '店舗登録', new_store_store_path, class: 'btn btn-primary' %>
  <!--<#%= link_to '店舗ログイン', store_store_stores_login_path, class: 'btn btn-primary' %>-->
</div>
<div class="login">
  <span>スタッフ用ログイン遷移</span>
</div>
<div class="login">

</div>