<header class="header">
  <div class="home-btn">
    <div class="home-btn-top"><%= link_to 'Top', root_path %></div>
    <div class="home-btn-index"><%= link_to '店舗一覧', store_stores_path, class: '' %></div>
  </div>
</header>